#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_CLOUD
	bool "Cloud module"
	default y

if APP_CLOUD

config APP_CLOUD_THREAD_STACK_SIZE
	int "Thread stack size"
	default 6144

config APP_CLOUD_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 300

config APP_CLOUD_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 290

config APP_CLOUD_MSG_MAX_LEN
	int "Maximum device message length"
	default 512

config APP_CLOUD_POLL_INTERVAL_SECONDS
	int "Shadow poll interval for cloud-to-device messages"
	default 30

config APP_CLOUD_CREDENTIAL_RETRY_SECONDS
	int "Retry interval when credentials are missing"
	default 10

module = APP_CLOUD
module-str = Cloud
source "subsys/logging/Kconfig.template.log_config"

endif # APP_CLOUD
