#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Serial Modem Host 91m1"

rsource "src/Kconfig.main"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/cloud/Kconfig.cloud"
rsource "src/modules/fota/Kconfig.fota"

# Redefine symbol due to it being dependent on nRF Modem Library in the original definition.
config MEMFAULT_USE_NRF_CLOUD_COAP
	bool "Use nRF Cloud CoAP for device communication"
	default y

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
