#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_CLOUD
	bool "Cloud module (nRF Cloud egress)"
	default y
	depends on APP_MODEM_AT
	help
	  Single owner of outbound nRF Cloud AT traffic. Forwards telemetry that other
	  modules publish to cloud_chan while connected.

if APP_CLOUD

config APP_CLOUD_PAYLOAD_BUFFER
	int "Payload buffer size"
	default 96
	help
	  Size of buffer used to construct JSON payload sent to cloud.

config APP_CLOUD_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config APP_CLOUD_AT_TIMEOUT_SECONDS
	int "Cloud AT command timeout (seconds)"
	default 30

config APP_CLOUD_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 120

config APP_CLOUD_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 100
	help
	  modem_at_run() shares one AT pipe with other modules. This value must
	  exceed CONFIG_APP_MODEM_AT_PIPE_WAIT_TIMEOUT_SECONDS plus
	  CONFIG_APP_CLOUD_AT_TIMEOUT_SECONDS to cover that combined worst case.

module = APP_CLOUD
module-str = cloud
source "subsys/logging/Kconfig.template.log_config"

endif # APP_CLOUD
