#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_CLOUD
	bool "Cloud module (nRF Cloud egress)"
	default y
	depends on APP_MODEM_AT
	help
	  Single owner of outbound nRF Cloud AT traffic. Forwards telemetry that other
	  modules publish to cloud_chan while connected.

if APP_CLOUD

config APP_CLOUD_PAYLOAD_BUFFER
	int "Payload buffer size"
	default 64
	help
	  Size of buffer used to construct JSON payload sent to cloud.

config APP_CLOUD_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config APP_CLOUD_AT_TIMEOUT_SECONDS
	int "Cloud AT command timeout (seconds)"
	default 30

module = APP_CLOUD
module-str = cloud
source "subsys/logging/Kconfig.template.log_config"

endif # APP_CLOUD
