#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_BATTERY
	bool "Battery module"
	default y
	depends on APP_CLOUD && NRF_FUEL_GAUGE && NPM13XX_CHARGER
	help
	  Samples the nPM1300 fuel gauge and publishes state of charge to the cloud
	  module, which forwards it to nRF Cloud.

if APP_BATTERY

config APP_BATTERY_THREAD_STACK_SIZE
	int "Battery thread stack size (bytes)"
	default 2048

module = APP_BATTERY
module-str = battery
source "subsys/logging/Kconfig.template.log_config"

endif # APP_BATTERY
