#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config MODEM_NRF91SM
	bool "Nordic nRF91 Serial Modem support"
	default y
	depends on DT_HAS_NORDIC_NRF91_SM_V2_ENABLED
	select MODEM_CELLULAR
	help
	  Modem driver for Nordic nRF91 series running
	  the Serial Modem application v2.0.0 or later.
