/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * Based on ncs-serial-modem samples/sm_ppp_shell for nRF54L15 DK + nRF9151 DK.
 * Disable VCOM0 in Board Configurator to release uart30 (P0 connector).
 *
 * Uses default RRAM/SRAM partitions from nrf54l15_cpuapp_ns_partition.dtsi.
 */

/ {
	chosen {
		zephyr,console = &uart20;
		zephyr,shell-uart = &uart20;
	};
	aliases {
		modem = &modem;
	};
};

&uart30 {
	status = "okay";
	current-speed = <115200>;
	hw-flow-control;
	zephyr,pm-device-runtime-auto;

	modem: modem {
		compatible = "nordic,nrf91-sm-v2";
		status = "okay";
		mdm-ring-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		mdm-dtr-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
		zephyr,pm-device-runtime-auto;
		cmux-enable-runtime-power-save;
		cmux-close-pipe-on-power-save;
		cmux-idle-timeout-ms = <5000>;
		autostarts;
	};
};

&gpio1 {
	status = "okay";
};
