/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * Placeholder overlay for nRF91M1 host UART routing.
 * Update pin assignments when the target board is finalized.
 */

/ {
	chosen {
		/* zephyr,modem-uart = &uart30; */
	};
};

/*
 * &uart30 {
 *	pinctrl-0 = <&uart30_default>;
 *	pinctrl-1 = <&uart30_sleep>;
 *	pinctrl-names = "default", "sleep";
 *	current-speed = <115200>;
 *	status = "okay";
 * };
 */
