#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Serial Modem Host 93m1_ppp"

rsource "src/Kconfig.main"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/memfault/Kconfig.memfault"
rsource "src/modules/fota/Kconfig.fota"
rsource "src/modules/battery/Kconfig.battery"
rsource "src/modules/modem_at/Kconfig.modem_at"
rsource "src/modules/location/Kconfig.location"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
